<form [formGroup]="form">

    <!-- autocomplete -->
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{tableColumnsGroup['country']}}</mat-label>
        <input type="text" aria-label="Number" matInput [formControl]="criteriaNameControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setCountryName($event)">
            <ng-container *ngIf="countries.length > 0">
                <mat-option *ngFor="let country of countries" value="{{ country.name.common }}">
                    {{ country.name.common }}
                </mat-option>
            </ng-container>
            <ng-container *ngIf="countries.length == 0">
                <mat-option class="not-found-results" disabled>{{ noResultsMsg }}</mat-option>
            </ng-container>
        </mat-autocomplete>
    </mat-form-field>

    <!-- from date -->
    <mat-form-field appearance="outline">
        <mat-label>{{tableColumnsGroup['dateFrom']}}</mat-label>
        <input matInput [matDatepicker]="from" formControlName="fromDate">
        <mat-datepicker-toggle matIconSuffix [for]="from"></mat-datepicker-toggle>
        <mat-datepicker #from></mat-datepicker>
    </mat-form-field>

    <!-- to date -->
    <mat-form-field appearance="outline">
        <mat-label>{{tableColumnsGroup['dateTo']}}</mat-label>
        <input matInput [matDatepicker]="to" formControlName="toDate">
        <mat-datepicker-toggle matIconSuffix [for]="to"></mat-datepicker-toggle>
        <mat-datepicker #to></mat-datepicker>
    </mat-form-field>

    <!-- notes -->
    <mat-form-field>
        <mat-label>{{tableColumnsGroup['notes']}}</mat-label>
        <input matInput formControlName="notes">
    </mat-form-field>

    <!-- submit -->
    <button mat-raised-button color="primary" (click)="addCountry()" [disabled]="form.invalid">שלח</button>

</form>